@import 'tailwindcss';

body {
  background: black;
  color: white;
  background-image: url('/bg.png');
}

:root {
  --primary-color: #ae7aff;
}

.btn {
  background: var(--primary-color);
  border: none;
  color: black;
  cursor: pointer;
}
